#include "App-Common.xcconfig"

_PRODUCT_BUNDLE_IDENTIFIER_SUFFIX = .development

PRODUCT_NAME = DutieSplit DEV

//CODE_SIGN_IDENTITY = iPhone Developer
//PROVISIONING_PROFILE_SPECIFIER = DutieSplit Development

SWIFT_ACTIVE_COMPILATION_CONDITIONS = ENV_DEVELOPMENT
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-DEV
ENABLE_TESTABILITY = YES
