#include "../Carthage/Checkouts/xcconfigs/Configurations/Debug.xcconfig"
#include "App-Common.xcconfig"

__PRODUCT_BUNDLE_IDENTIFIER_SUFFIX = .development

_ENVIRONMENTS = ENV_DEVELOPMENT

_CODESIGN_DEVELOPMENT_TEAM = 
_CODESIGN_IDENTITY = iPhone Developer
_CODESIGN_PROFILE_SPECIFIER = DutieSplit Development
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-DEV
