#include "App-Common.xcconfig"

_PRODUCT_BUNDLE_IDENTIFIER_SUFFIX = .beta

PRODUCT_NAME = DutieSplit Beta

//CODE_SIGN_IDENTITY = iPhone Distribution
//PROVISIONING_PROFILE_SPECIFIER = DutieSplit Beta

SWIFT_ACTIVE_COMPILATION_CONDITIONS = ENV_PRODUCTION

COPY_PHASE_STRIP = YES
ENABLE_TESTABILITY = NO
GCC_OPTIMIZATION_LEVEL = s
ONLY_ACTIVE_ARCH = NO
STRIP_INSTALLED_PRODUCT = YES
SWIFT_COMPILATION_MODE = wholemodule
VALIDATE_PRODUCT = YES
