#include "App-Common.xcconfig"

//CODE_SIGN_IDENTITY = iPhone Distribution
//PROVISIONING_PROFILE_SPECIFIER = DutieSplit App Store

SWIFT_ACTIVE_COMPILATION_CONDITIONS = ENV_PRODUCTION

COPY_PHASE_STRIP = YES
ENABLE_TESTABILITY = NO
GCC_OPTIMIZATION_LEVEL = s
ONLY_ACTIVE_ARCH = NO
STRIP_INSTALLED_PRODUCT = YES
SWIFT_COMPILATION_MODE = wholemodule
VALIDATE_PRODUCT = YES
